*{
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
}
.add {
    display: block !important;
}
.wiev .resultat {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 33;
}
.app {
    position: relative;
}
.app .wiev {
    background-color: lightblue;
    height: 50%;
    overflow-y: auto;
    display: none;
    border:1px solid #000;
    border-radius: 5px;
    padding: 3%;

    position: fixed;
    top: 10%;
    left: 20%;
    z-index: 22;
}
.app .pickup {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    background-color: lightblue;
    cursor: pointer;
    padding: 5px 25px;
    border: none;
    border: 1px solid #000;
    border-radius: 5px;
    display: none;

    position: fixed;
    top: 200px;
    right: 50px;
    z-index: 22;
}
.wiev .pay {
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: none;
    border: 1px solid #000;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    transform: translateX(90%);
    margin: 0 0 20px 0;
}
.app .wiev .draft {
    list-style: none;
}
.app .wiev .draft ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 0 0;
}
.app .wiev .draft li {
    font-size: 22px;
}
.app .wiev .street {
    list-style: none;
    margin: 30px 0 0 0;
}
.app .wiev .street ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 0 0;
}
.app .wiev .street li {
    font-size: 22px;
}
.app .wiev .clean {
    list-style: none;
    margin: 30px 0 0 0;
}
.app .wiev .clean li {
    font-size: 22px;
}
.app .wiev .money {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 0 0;
}
.app .wiev .money li {
    font-size: 22px;
}