*{
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
}
.add {
    display: block !important;
}
.resultat {
    font-size: 25px;
    width: 300px;
    height: 200px;
    padding: 30px;
    background-color: rgb(252, 76, 76);
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    opacity: .8;

    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 33;
}
.app {
    position: relative;
}
.app .wiev {
    background-color: lightblue;
    height: 450px;
    width: 700px;
    overflow-y: auto;
    display: none;
    border:1px solid #000;
    border-radius: 5px;
    padding: 3%;

    position: absolute;
    top: 30px;
    left: 10%;
    z-index: 22;
}
.app .wiev .close {
  
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    color:#fff;
    border:2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    
    position: relative;
    left: 660px;
    top:0px;
}
.app .pickup {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    background-color: lightblue;
    cursor: pointer;
    padding: 5px 25px;
    border: none;
    border: 1px solid #000;
    border-radius: 5px;
    display: none;

    position: relative;
    top: 400px;
    left: 1050px;
    z-index: 22;
}
.wiev .pay {
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: none;
    border: 1px solid #000;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    transform: translateX(550px);
    margin: 30px 0 15px 0;
}
.app .wiev .draft {
    list-style: none;
}
.app .wiev .draft ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 0 0;
}
.app .wiev .draft li {
    font-size: 22px;
}
.app .wiev .street {
    list-style: none;
    margin: 30px 0 0 0;
}
.app .wiev .street ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 0 0;
}
.app .wiev .street li {
    font-size: 22px;
}
.app .wiev .clean {
    list-style: none;
    margin: 30px 0 0 0;
}
.app .wiev .clean li {
    font-size: 22px;
}
.app .wiev .money {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 0 0;
}
.app .wiev .money li {
    font-size: 22px;
}
.app .wiev .draft input[type="radio"],
.app .wiev .street input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0 0 0 15px;
}
.app .wiev .money input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 0 0 15px;
}
.app .wiev input[type="number"] {
    padding: 3px 5px 3px 30px;
    border-radius: 3px;
    margin: 10px 0 0 0;
    transform: translateX(100px);
}
